<form [formGroup]="newForm">
  <div class="form-group">
    <label for="ingredient-name">Όνομα δραστικής</label>
    <input type="text" class="form-control" id="ingredient-name" formControlName="name">
  </div>
  <div class="form-group">
    <label for="ingredient-category">Κατηγορία δραστικής</label>
    <select id="ingredient-category" class="form-control" formControlName="category">
      <option value="1">Εντομοκτόνα - ΕΝ</option>
      <option value="2">Αφιδοκτόνα - ΑΦ</option>
      <option value="3">Ακαρεοκτόνα - ΑΚ</option>
      <option value="4">Μυκητοκτόνα - ΜΥΚ</option>
    </select>
  </div>

  <div class="form-group">
    <label for="ingredient-eu-id">Κωδικός Ευρωπαΐκής Ένωσης</label>
    <input type="number" class="form-control" id="ingredient-eu-id" formControlName="eu_id">
  </div>

  <button class="btn btn-success" [disabled]="!newForm.valid" (click)="onSubmit()">Προσθήκη</button>
</form>
