@import '~bootstrap/scss/bootstrap';
@import 'colors';
:host {
  display: block;
  height: 100%;
  width: 100%;

  @mixin nav-item-bordered {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);

  }

  @mixin nav-item-hover($color) {
    background-color: $color;
    color: white;
    border-left: 10px solid darken($color, 10%);
  }

  & > nav > .nav-link {
    @include nav-item-bordered;
    color: $gray-600;
    padding-right: 5em;
    &:hover {
      @include nav-item-hover($nav-hover-color);
      padding-right: calc(5em - 10px);
    }
  }

  & > nav {
    & > .list-nested {
      margin-bottom: 0;

      & > li {
        background-color: darken($nav-color, 5%);
        padding-left: 1em;
        @include nav-item-bordered;

        &:hover {
          @include nav-item-hover(darken($nav-hover-color, 5%));

          & > a {
            color: white;
          }
        }

        & > a {
          color: $gray-600;
        }
      }
    }
  }
}
