<nav class="nav flex-column">
  <a class="nav-link" [routerLink]="['/home']">Αρχική</a>
  <a class="nav-link" [routerLink]="['/mrls']">MRL</a>
  <a class="nav-link" [routerLink]="['/active-ingredients']">Δραστικές</a>
</nav>
