@import 'colors';

:host {
  display: flex;
  flex-direction: row;
  background-color: $header-color-bg;
  color: $header-color-fg;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  #header--sidebar--toggle {
    display: flex;
    justify-content: center;
    padding: 0.25em 0.5em;
    position: relative;

    & > #toggle-icon {
      width: 2em;
      height: 2em;
      position: relative;
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      cursor: pointer;
      margin-right: auto;

      &.open {
        & > span:nth-child(1) {
          top: 0.9em;
          transform: rotate(135deg);
        }

        & > span:nth-child(2) {
          opacity: 0;
          left: -60px;
        }

        & > span:nth-child(3) {
          top: 0.9em;
          transform: rotate(-135deg);
        }
      }

      span {
        display: block;
        position: absolute;
        height: 0.3em;
        width: 100%;
        background: orange;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;

        &:nth-child(1) {
          top: 0;
        }

        &:nth-child(2) {
          top: 0.90em;
        }

        &:nth-child(3) {
          top: 1.75em;
        }
      }
    }
  }

  #header--title {
    flex: 1;
    text-align: center;
    align-self: center;
  }
}
