<div id="header--sidebar--toggle" (click)="onTogglePressed()">
  <div id="toggle-icon" [class.open]="isSidebarOpen" >
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<div id="header--title">
  <span>Some Title</span>
</div>
