@import 'app';

:host {
  @extend .content-item;

  &::ng-deep .typeahead-input {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  & > #filter-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: stretch;
    align-items: flex-start;

    .typeahead {
      flex: 1;
    }

    & > .input-group {
      flex: 1;
      min-width: 30%;
      margin-bottom: 0.4em;
      &:not(:last-child) {
        margin-right: 0.4em;
      }
    }
  }
}
