<form id="filter-form" role="form" [formGroup]="filterForm">

  <div class="input-group">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupCountry">Χώρα</label>
    </div>
    <app-focus-type-ahead
      class="typeahead"
      formControlName="filter_country"
      [cssClasses]="'form-control typeahead-input'"
      [data]="countries"
      [elementId]="'inputGroupCountry'"
      [searchFunc]="filterCountries"
      [resultFormatter]="countriesFormatter"
      (itemSelected)="onCountrySelected($event)"
      #countryTA>
    </app-focus-type-ahead>
    <div class="input-group-append" *ngIf="selectedCountry">
      <button class="btn btn-outline-secondary" (click)="countryTA.clear()" type="button">
        <i class="fas fa-window-close"></i>
      </button>
    </div>
  </div>

  <div class="input-group">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupActiveIngredient">Δραστική</label>
    </div>
    <app-focus-type-ahead
      class="typeahead"
      formControlName="filter_ingredient"
      [cssClasses]="'form-control typeahead-input'"
      [data]="ingredients"
      [elementId]="'inputGroupActiveIngredient'"
      [searchFunc]="filterIngredients"
      [resultFormatter]="ingredientsFormatter"
      (itemSelected)="onIngredientSelected($event)"
      #ingredientTA>
    </app-focus-type-ahead>
    <div class="input-group-append" *ngIf="selectedIngredient">
      <button class="btn btn-outline-secondary" (click)="ingredientTA.clear()" type="button">
        <i class="fas fa-window-close"></i>
      </button>
    </div>
  </div>

  <div class="input-group">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupProduct">Product</label>
    </div>
    <app-focus-type-ahead
      class="typeahead"
      formControlName="filter_product"
      [cssClasses]="'form-control typeahead-input'"
      [data]="commodities"
      [elementId]="'inputGroupProduct'"
      [searchFunc]="filterCommodities"
      [resultFormatter]="commoditiesFormatter"
      (itemSelected)="onCommoditySelected"
      #commodityTA>
    </app-focus-type-ahead>
    <div class="input-group-append" *ngIf="selectedCommodity">
      <button class="btn btn-outline-secondary" (click)="commodityTA.clear()" type="button">
        <i class="fas fa-window-close"></i>
      </button>
    </div>
  </div>

  <div class="input-group">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupDateFrom">Από</label>
    </div>
    <input class="form-control" id="inputGroupDateFrom"
           formControlName="filter_from"
           [options]="datepicker_options"
           ngx-mydatepicker #dpFrom="ngx-mydatepicker">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" (click)="dpFrom.toggleCalendar()" type="button">
        <i class="far fa-calendar-alt"></i>
      </button>
    </div>
  </div>

  <div class="input-group">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupDateTo">Εώς</label>
    </div>
    <input class="form-control" id="inputGroupDateTo"
           formControlName="filter_to"
           [options]="datepicker_options"
           ngx-mydatepicker #dpTo="ngx-mydatepicker">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" (click)="dpTo.toggleCalendar()" type="button">
        <i class="far fa-calendar-alt"></i>
      </button>
    </div>
  </div>

  <button class="btn btn-large btn-success"(click)="filter()">Fetch</button>
</form>
