@import '../../node_modules/bootstrap/scss/bootstrap';
/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;

}

body {
  min-height: 100vh;
}

.content-item {
  background-color: white;
  padding: 0.75em 1.25em;
  display: block;
  width: 100%;
}
