<p>
  ingredients-list works!
</p>
<button class="btn btn-outline-success" [routerLink]="['new']">Νέα Δραστική</button>
<ul>
  <li *ngFor="let ingredient of ingredients">{{ingredient.name}}</li>
</ul>
