<header id="application-header">
  <app-header></app-header>
</header>

<div id="side-nav" [class.open]="sidebarOpen$ | async">
  <app-sidenav></app-sidenav>
</div>

<div id="application-content">
  <router-outlet></router-outlet>
  <!--<div id="fucking-div"></div>-->
</div>
