@import 'colors';


:host {
  display: grid;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas: "header   header" "sidenav  content" "sidenav  content";

  & > #application-header {
    grid-area: header;
  }

  & > #side-nav {
    grid-area: sidenav;
    transition: all 0.3s ease-in-out;
    width: 0;
    opacity: 0;
    overflow: hidden;
    z-index: 1;
    box-shadow: 4px 1px 8px -2px rgba(0,0,0,0.57);


    &.open {
      opacity: 1;
      overflow: auto;
      width: auto;
    }
  }

  & > #application-content {
    grid-area: content;
    height: 100%;
    background-color: $content-area-bg;
    color: $content-area-fg;
    padding: 0.75em 1.25em 0 0.75em;
  }

  #fucking-div {
    width: 100%;
    height: 2000px;
    background-color: purple;
  }
}
