<div id="counter">
  <h5 >Αποτελέσματα Αναζήτησης ({{mrls?.length}})</h5>
</div>


<div class="table-wrapper">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Δραστική</th>
      <th scope="col">Residue</th>
      <th scope="col">Χώρα</th>
      <th scope="col">Προϊών</th>
      <th scope="col">Από</th>
      <th scope="col">Εώς</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let mrl of mrls">
      <th scope="row">{{ mrl.active_ingredient.name }}</th>
      <td>{{ mrl.residue | number:'.1-5' }}</td>
      <td>{{ mrl.country.name }}</td>
      <td>{{ mrl.commodity.name }}</td>
      <td>{{ mrl.from_date | date:'dd/MM/yyyy' }}</td>
      <td>{{ mrl.to_date | date:'dd/MM/yyyy' }}</td>
    </tr>
    </tbody>
  </table>
</div>
