@import 'app';

:host {
  margin-bottom: 1em;

  #counter {
    margin-top: 1em;
    background-color: white;
    padding: 0.75em 1.25em;
  }

  .table-wrapper {
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    margin-top: 1em;
    padding-left: 0.3em;
  }

  .table {
    border-collapse: collapse;
    thead tr:nth-child(1) {

      th{
        position: sticky;
        top: -5px; // used to hide the elements scrolling behind
        z-index: 10;
        background: white;
        background-clip: padding-box;

        &::before {
          content: " ";
          width: calc(100% + 1.5rem);
          height: 3px;
          background-color: red;
          z-index: 15;
          position: absolute;
          bottom: 0;
          left: -0.75rem;
        }
      }
    }
  }
}
